<a href="https://colab.research.google.com/github/RafdhiFatoni/ISE-Data-Science-Academy/blob/main/Materi%20DAC%20(Syntax).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><b>Data Preprocessing<b></h1>

<h3><b>Membuat Data Frame

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Cara membuat array dengan library Numpy
nilai_matkul_a = np.array([76,98,80,84])
nilai_matkul_b = np.array([92,90,82,84])
print(f"Nilai matkul a = {nilai_matkul_a}")
print(f"Nilai matkul b = {nilai_matkul_b}")

In [ ]:
# Cara menjumlahkan array
hasil_nilai = nilai_matkul_a + nilai_matkul_b
print(f"Hasil penjumlahan array = {hasil_nilai}")

In [ ]:
# Satatistika deskriptif pada array
nilai_siswa = np.array([55, 43, 98, 76 ,65 ,77 ,65, 90])
print("Nilai minimal \t=", nilai_siswa.min())
print("Nilai maksimal \t=", nilai_siswa.max())
print("Nilai rata-rata =", nilai_siswa.mean())
print("Total nilai \t=", nilai_siswa.sum())
print("Standar Deviasi =", nilai_siswa.std())

In [ ]:
# Cara membuat data frame 1 kolom menggunakan library Pandas
data2 = [1,2,3,4,5]
df = pd.DataFrame(data2)
print(df)

In [ ]:
# Cara membuat data frame 2 kolom menggunakan library Pandas
data3 = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data3,columns=['Name','Age'])
print(df)

In [ ]:
# Cara menambahkan data baris
# NOTE: angka 3 menunjukkan indeks dari data yang akan kita tambahkan
df.loc['3']=['Billy',11]
df

In [ ]:
# Cara menambahkan data kolom
df['Sex']=['M','M','F','M']
df

In [ ]:
# Cara menghilangkan salah satu data kolom
df.drop('Sex',axis=1)

In [ ]:
# Cara menghilangkan salah satu data baris
df.drop('3',axis=0)

In [ ]:
# Cara membuat data frame menggunakan dictionary dan library Pandas
data4 = {'x':[12,20,28,18,29,33,27,45,45,52,51,52,55,53,55,61,64,69,72],
         'y':[39,36,30,52,54,46,55,59,63,70,66,63,58,23,14,8,19,7,24]}
df = pd.DataFrame(data4,columns=['x','y'])
df

In [ ]:
# Cara menampilkan nilai jumlah data pada setiap kolom
print(df['x'].sum())
print(df['y'].sum())

In [ ]:
# Cara menampilkan nilai rata-rata data pada setiap kolom
print(df['x'].mean())
print(df['y'].mean())

In [ ]:
# Cara menampilkan nilai maksimum data pada setiap kolom
print(df['x'].max())
print(df['y'].max())

In [ ]:
# Cara menampilkan nilai minimum data pada setiap kolom
print(df['x'].min())
print(df['y'].min())

In [ ]:
# Cara menampilkan nilai standar deviasi data pada setiap kolom
print(df['x'].std())
print(df['y'].std())

In [ ]:
# Cara membuat data frame menggunakan library Pandas yang langsung diinisiasi pada dictionary
data5 = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','David','Gasper','Betina','Andres']),
         'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
         'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

# Create a DataFrame
df = pd.DataFrame(data5)
print(df)

<h3><b>Data Formatting

In [ ]:
# Inisiasi path data
path_data6 = "/content/data_formatting.csv"

In [ ]:
# Mengimport data
# NOTE: delimiter berfungsi untuk memisahkan data dengan karakter ; sebagai pemisah
data6 = pd.read_csv("data_formatting.csv", delimiter=';')
data6

In [ ]:
# Update nama kolom
data6.columns = ['Index','Name','Sex','Age','Debt','Other']
data6

In [ ]:
# Drop kolom terakhir yang tidak bernilai
# NOTE: axis=1 menunjukkan bahwa yang dihapus (drop) adalah kolom
# NOTE: inplace=True menujukkan perubahan akan diterapkan langsung pada objek DataFrame, tanpa perlu menetapkan hasilnya ke variabel baru
data6.drop('Other',axis=1,inplace=True)
data6

In [ ]:
# Drop untuk baris yang duplikat
data6.drop_duplicates(inplace=True)
data6

In [ ]:
# Mengecek tipe data
data6.dtypes

In [ ]:
# Membuang nilai u pada kolom Debt
data6['Debt'] = data6['Debt'].str.replace('u','')
data6

In [ ]:
# Konversi Debt ke data numerik
data6['Debt'] = pd.to_numeric(data6['Debt'])
data6.dtypes

In [ ]:
# Mencari tahu jenis-jenis data pada kolom Sex
print(data1['Sex'].value_counts(),'\n')

In [ ]:
# Merubah data pada kolom Sex menjadi M dan F
sex_map = {'Man':'M','Male':'M','male':'M','Female':'F','female':'F','woman':'F','Woman':'F'}

data6['Sex'] = data6['Sex'].map(sex_map)
data6

In [ ]:
# Menghubungkan Google Drive ke dalam Google Colab
# NOTE: Google Drive akan terhubung dan dapat diakses melalui direktori khusus yang disebut '/content/drive' di dalam lingkungan Colab.
from google.colab import drive
drive.mount('/content/drive')

<h3><b>Missing Value dan Outlier

In [ ]:
# Inisiasi path data
path_dataset = "/content/movie_metadata.csv"

In [ ]:
# Mengimport data
data7 = pd.read_csv('movie_metadata.csv')
data7.head()

In [ ]:
# Library untuk keperluan pembuatan grafik
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Menampilkan outlier pada kolom budget
sns.boxplot(data7['budget'])
plt.show()

In [ ]:
# Menampilkan outlier pada kolom duration
sns.boxplot(data7['duration'])
plt.show()

In [ ]:
# Menampilkan outlier pada kolom gross
sns.boxplot(data7['gross'])
plt.show()

In [ ]:
# Menampilkan jumlah missing value pada setiap kolom
np.sum(data7.isnull())

In [ ]:
# Mengisi missing value dengan median
data7['budget'] = data7['budget'].fillna((data7['budget'].median()))
data7['duration'] = data7['duration'].fillna((data7['duration'].median()))
data7['gross'] = data7['gross'].fillna((data7['gross'].median()))

np.sum(data7.isnull())

In [ ]:
# Mengisi missing value dengan mean (rata-rata)
data7['director_facebook_likes'] = data7['director_facebook_likes'].fillna((data7['director_facebook_likes'].mean()))
data7['num_user_for_reviews'] = data7['num_user_for_reviews'].fillna((data7['num_user_for_reviews'].mean()))
data7['num_critic_for_reviews'] = data7['num_critic_for_reviews'].fillna((data7['num_critic_for_reviews'].mean()))

np.sum(data7.isnull())

In [ ]:
# Drop baris missing value
data7 = data7.dropna(subset=['facenumber_in_poster'])
data7 = data7.dropna(subset=['actor_1_facebook_likes'])
data7 = data7.dropna(subset=['actor_2_facebook_likes'])

np.sum(data7.isnull())

In [ ]:
# Mengisi missing value dengan angka
data7['actor_3_facebook_likes'] = data7['actor_3_facebook_likes'].fillna(645.009761)

np.sum(data7.isnull())

In [ ]:
# Mengisi missing value dengan modus untuk data kualitatif/kategorikal
# NOTE: Fungsi angka 0 di sini adalah untuk mengambil nilai pertama dari hasil modus jika ada beberapa nilai yang memiliki frekuensi yang sama
data7['country'] = data7['country'].fillna(data7['country'].mode()[0])

np.sum(data7.isnull())

In [ ]:
# Library untuk keperluan aljabar linier, statistik, integrasi, dan optimisasi
from scipy import stats

In [ ]:
# Menentukan outlier pada kolom duration menggunakan z-score dari library SciPy
# NOTE: data dikatakan sebagai outlier apabila nilai z-score > 3
z1 = np.abs(stats.zscore(data7['duration']))
print(z1)

In [ ]:
# Menentukan outlier pada kolom budget menggunakan z-score dari library SciPy
# NOTE: data dikatakan sebagai outlier apabila nilai z-score > 3
z2 = np.abs(stats.zscore(data7['budget']))
print(z2)

In [ ]:
# Menentukan outlier pada kolom gross menggunakan z-score dari library SciPy
# NOTE: data dikatakan sebagai outlier apabila nilai z-score > 3
z3 = np.abs(stats.zscore(data7['gross']))
print(z3)

In [ ]:
# Menampilkan data outlier
print(np.where(z1 > 3))
print(np.where(z2 > 3))
print(np.where(z3 > 3))

In [ ]:
# Menampilkan jumlah data (non-missing value) pada setiap kolom
data7.count()

In [ ]:
# Menghapus data outlier
# Menghitung IQR (Interquartile Range) untuk kolom duration (kolom yang ingin dihapus outliernya)
Q1 = data7['duration'].quantile(0.25)
Q3 = data7['duration'].quantile(0.75)
IQR = Q3 - Q1

# Menentukan batas bawah dan batas atas untuk outlier
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Membuat data frame tanpa outlier
cleaned_data7 = data7[(data7['duration'] >= lower_bound) & (data7['duration'] <= upper_bound)]

# Menampilkan jumlah data (non-missing value) pada setiap kolom
cleaned_data7.count()

In [ ]:
# Menghapus data outlier
# Menghitung IQR (Interquartile Range) untuk kolom budget (kolom yang ingin dihapus outliernya)
Q1 = data7['budget'].quantile(0.25)
Q3 = data7['budget'].quantile(0.75)
IQR = Q3 - Q1

# Menentukan batas bawah dan batas atas untuk outlier
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Membuat data frame tanpa outlier
cleaned_data7 = data7[(data7['budget'] >= lower_bound) & (data7['budget'] <= upper_bound)]

# Menampilkan jumlah data (non-missing value) pada setiap kolom
cleaned_data7.count()

In [ ]:
# Menghapus data outlier
# Menghitung IQR (Interquartile Range) untuk kolom gross (kolom yang ingin dihapus outliernya)
Q1 = data7['gross'].quantile(0.25)
Q3 = data7['gross'].quantile(0.75)
IQR = Q3 - Q1

# Menentukan batas bawah dan batas atas untuk outlier
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Membuat data frame tanpa outlier
cleaned_data7 = data7[(data7['gross'] >= lower_bound) & (data7['gross'] <= upper_bound)]

# Menampilkan jumlah data (non-missing value) pada setiap kolom
cleaned_data7.count()